# Ignore virtual environment directories
venv/
VENV/
env/
ENV/
screenshots/
# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore compiled files
*.o
*.so
*.a
*.out

images/
logs/

# Ignore package directories
node_modules/
dist/
build/
*.egg-info/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore coverage reports
coverage/
*.cover
*.coverage
*.cov
*.gcov

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
